<div class="container">
    <div class="present">
        <div class="contenido">
            <h1>Wamyf Facturación</h1>
            <h2>Sistema de Facturación</h2>
            <ul>
                <li><p><span>&check;</span> Factura de manera rápida y sencilla.</p></li>
                <li><p><span>&check;</span> Te facilitamos el trabajo de conseguirte un sistema.</p></li>
                <li><p><span>&check;</span> Tus clientes podrán ver las facturas que emitas.</p></li>
                <li><p><span>&check;</span> ¡Registrate y empiza a facturar!</p></li>
            </ul>
        </div>
        <app-carrusel class="slider"></app-carrusel>
    </div>
    <div class="informacion"
    data-aos="fade-down-left"
    >
        <div>
            <h2>¿Qué hace el Sistema?</h2>
        
            <h3>MUCHO MÁS QUE FACTURACIÓN ELECTRÓNICA</h3>
        
            <p>Con nuestro sistema podrás realizar todas las actividades relacionadas a la gestión de ventas de tu negocio, sin complicaciones, sin trámites, con todo el soporte técnico que necesites y con total seguridad sobre tu información.</p>
        
            <div>
                
            </div>
            <h4>El sistema te permitirá realizar:</h4>
            <ul>
                <li><p>Proformas</p></li>
                <li><p>Cobros en línea directo a tu cuenta</p></li>
                <li><p>Administración multiusuario</p></li>
            </ul>
        </div>
        <div class="img">
            <img src="../../../assets/imgs/contable.png" alt="">
        </div>
    </div>
</div>

