<div class="pasos container pasos-margin">
    <h2>¿Cómo funciona?</h2>
    <p>Sigue los siguientes pasos:</p>
    <div>
        <div>
            <div class="numero red">
                <h4>1</h4>
            </div>
            <h5>Accede a Wamyf FE</h5>
            <p>Presiona en el enlace para ingresar al sistema.</p>
        </div>
        <div>
            <div class="numero green">
                <h4>2</h4>
            </div>
            <h5>Crear tu usuario</h5>
            <p>Regístrate en nuestra aplicación con tu datos personales.</p>
        </div>
        <div>
            <div class="numero blue">
                <h4>3</h4>
            </div>
            <h5>Empieza a facturar</h5>
            <p>Factura desde cualquier kugar y controla tus gastos fácilmente.</p>
        </div>
    </div>
</div>