<body class="bg-gradient-primary"  @fadeIn @fadeOut>
    <ng-container *ngIf="renderCancel">
        <ui-alerta (cancel)="handleCancel($event)" [texto]="'¿Seguro que quieres desactivar a este cliente?'"></ui-alerta>
    </ng-container>
    <div class="container">

        <!-- Actualizar Cliente -->
        <div *ngIf="objR=='cliente'">
            <h1 class="h4 text-gray-900 mb-4">Clientes</h1>

            <ui-message *ngIf="!updateState" [message]="success" [success]=true></ui-message>
            <table *ngIf="!updateState" class="tabla">
                <thead>
                    <tr>
                        <th style="width: 18%">Identificación</th>
                        <th style="width: 18%">Nombre y Apellido</th>
                        <th style="width: 18%">Provincia</th>
                        <th style="width: 18%">Dirección</th>
                        <th style="width: 18%">Correo</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="clientes.length!==0">
                        <tr *ngFor="let cliente of clientes">
                            <td>{{cliente._id}}</td>
                            <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                            <td>{{cliente.provincia}}, {{cliente.ciudad}}</td>
                            <td>{{cliente.dir}}</td>
                            <td>{{cliente.usuario.email}}</td>
    
                            <td style="white-space: nowrap">
                                <a class="btn btn-primary" (click)="editar(cliente)">
                                    Editar
                                </a>
                                <a class="btn btn-danger" (click)="desactivar(cliente._id)">
                                    Desactivar
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="clientes.length===0">
                        <tr>
                            <td colspan="100%">No existen registros aún.</td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>


            <div *ngIf="updateState" class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="contenedorForm">
                        <div>
                            <button type="button" class="btn btn-secondary" (click)="actualizarState()">← Regresar</button>

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}}</h1>
                            </div>

                            <ui-message [message]="error" [success]=false></ui-message>
                            <ui-message [message]="success" [success]=true></ui-message>
                            <form class="user" #formCli="ngForm" (ngSubmit)="onSubmit(formCli)" class="form">
                                <input type="text" name="id" #id="ngModel" [(ngModel)]="cliente._id" required
                                    class="inputForm input100"
                                    placeholder="Identificación" readonly />
                                <br>
                                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre"
                                    required pattern="[a-zA-Z ]+" class="inputForm input50"
                                    placeholder="Nombres" />
                                <p *ngIf="nombre.touched && !nombre.valid">
                                    * Nombre es obligatorio
                                </p>
                                <input type="text" name="apellido" #apellido="ngModel"
                                    [(ngModel)]="cliente.apellido" required pattern="[a-zA-Z ]+"
                                    class="inputForm input50" placeholder="Apellidos" />
                                <p *ngIf="apellido.touched && !apellido.valid">
                                    * Apellido es obligatorio
                                </p>

                                <input type="text" name="provincia" #provincia="ngModel"
                                    [(ngModel)]="cliente.provincia" required pattern="[a-zA-Z ]+"
                                    class="inputForm input50" placeholder="Provincia" />
                                <p *ngIf="provincia.touched && !provincia.valid">
                                    * Provincia es obligatorio
                                </p>

                                <input type="text" name="ciudad" #ciudad="ngModel" [(ngModel)]="cliente.ciudad"
                                    required pattern="[a-zA-Z ]+" class="inputForm input50"
                                    placeholder="Ciudad" />
                                <p *ngIf="ciudad.touched && !ciudad.valid">
                                    * Ciudad es obligatorio
                                </p>

                                <input type="text" name="dir" #dir="ngModel" [(ngModel)]="cliente.dir"
                                    required pattern="[a-zA-Z ]+" class="inputForm input100"
                                    placeholder="Dirección" />
                                <p *ngIf="dir.touched && !dir.valid">
                                    * La dirección es obligatoria
                                </p>

                                <input type="text" name="email" #email="ngModel" [(ngModel)]="cliente.usuario.email"
                                    required class="inputForm input100" placeholder="Email" />
                                <p *ngIf="email.touched && !email.valid">
                                    * Correo es obligatorio
                                </p>


                                <span *ngIf="!formCli.form.valid"> Recuerde revisar los campos </span>
                                <br>
                                <input type="submit" name="Guardar" value="Guardar" [disabled]="!formCli.form.valid"
                                    class="btn btn-primary btn-user btn-block">
                            </form>
                        </div>
                        <div class="imagen">
                            <img class="imgForm" src="../../../assets/imgs/factura-electronica.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Actualizar Cuenta -->
        <div *ngIf="objR=='factura'">
            <h1 class="h4 text-gray-900 mb-4">Borradores</h1>

            <table *ngIf="!updateState" class="tabla">
                <thead>
                    <tr>
                        <th style="width: 20%">ID</th>
                        <th style="width: 10%">Número de factura</th>
                        <th style="width: 10%">Subtotal</th>
                        <th style="width: 20%">Fecha</th>
                        <th style="width: 40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="facturas.length!==0">
                        <tr *ngFor="let factura of facturas">
                            <td>{{factura._id}}</td>
                            <td>{{factura.invoicer_nr}}</td>
                            <td>{{factura.subtotal.toFixed(2)}}$</td>
                            <td>{{factura.fecha}}</td>
                            <td style="white-space: nowrap">
                                <a class="btn btn-secondary" (click)="editar(factura)">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="facturas.length===0">
                        <tr>
                            <td colspan="100%">No existen registros aún.</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>


            <div *ngIf="updateState" class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="contenedorForm">
                            <div>
                                <button type="button" class="btn btn-secondary" (click)="actualizarState()">← Regresar</button>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}}</h1>
                                </div>
                                <ui-message [message]="error" [success]=false></ui-message>
                                <ui-message [message]="success" [success]=true></ui-message>
    
                                <form class="user" #formFac="ngForm" (ngSubmit)="onSubmit(formFac)" class="form">
                                    <input type="text" name="id" #id="ngModel" [(ngModel)]="factura._id" required
                                        class="inputForm input100"
                                        placeholder="Identificación" readonly />
                                    <br>
                                    
                                    <select name="productid" productid="selectd" #productid="ngModel" [(ngModel)]="pedido.producto._id"
                                        class="inputForm input50" required>
                                        <option id="optionss" value="" selected disabled>Eliga un producto &dtrif;</option>
                                        <option value="none">Si desea puede agregar uno más &dtrif;</option>
                                        <option *ngFor="let produ of productosFilter" [value]="produ._id"
                                            style="width: 200px; height: 100px;">
                                            {{produ.descripcion}}
                                        </option>
                                    </select>
                                    <input type="number" name="cantidad" #cantidad="ngModel"
                                        [(ngModel)]="pedido.cantidad" required step="1"
                                        class="inputForm input50" placeholder="Cantidad" />
                                        <span *ngIf="cantidad.touched && !cantidad.valid">
                                            * La cantidad es obligatoria
                                        </span>
                                    <button (click)="handleAdd()" type="button" style="display: inline; max-height: 70px; border-radius: 10px;" class="input100">Añadir</button>

                                    <ng-container *ngIf="productosSelected.length>0">
                                        <h4>Productos seleccionados</h4>
                                        <table class="invoice">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width: 20%">Descripcion</th>
                                                    <th scope="col" style="width: 20%">Precio</th>
                                                    <th scope="col" style="width: 20%">Cantidad</th>
                                                    <th scope="col" style="width: 20%">Total</th>
                                                    <th scope="col" style="width: 20%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ped of productosSelected">
                                                    <td>{{ped.producto.descripcion}}</td>
                                                    <td>{{ped.producto.precio}}$</td>
                                                    <td>{{ped.cantidad}}</td>
                                                    <td>{{(ped.cantidad*ped.producto.precio).toFixed(2)}}$</td>
                                                    <td>
                                                        <button type="button" class="btn btn-dark" (click)="handleclick(ped.producto._id)">X</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">Subtotal</td>
                                                    <td>{{(subtotal).toFixed(2)}}$</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">IVA (12%)</td>
                                                    <td>{{(subtotal*0.12).toFixed(2)}}$</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">Total</td>
                                                    <td>{{(subtotal*1.12).toFixed(2)}}$</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                    <br>
                                    <span *ngIf="!formFac.form.valid"> Recuerde revisar los campos </span>
                                    <br>
                                    <input type="submit" (click)="setBorrador(true)"  name="Borrador" value="Guardar como borrador" 
                                        [disabled]="!id.valid && productosSelected.length===0" class="btn btn-secondary btn-user btn-block">
                                    <input type="submit" (click)="setBorrador(false)" name="Guardar" value="Guardar"
                                        [disabled]="!id.valid && productosSelected.length===0" class="btn btn-primary btn-user btn-block">
                                </form>
                            </div>
                            <div class="imagen">
                                <img class="imgForm" src="../../../assets/imgs/factura-electronica.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>