<ng-container *ngIf="renderCancel">
    <ui-alerta (cancel)="handleCancel($event)"></ui-alerta>
</ng-container>
<header>
    <a [routerLink]="'/home'" [routerLinkActive]="'active'"  style="display: flex; align-items: center; justify-content: center;">
        <div style="height: 30px; width: 30px; ">
            <img src="../../../../assets/imgs/invoice-paper-svgrepo-com (1).svg" style="height: 30px; width: 30px;" alt="">
        </div>
        <h1 style="margin: 0;">Wamyf Facturación</h1>
    </a> &nbsp;

    <nav>
        <a [routerLink]="'/home'" [routerLinkActive]="'active'">Inicio</a> &nbsp;
        <a *ngIf="rol===''" [routerLink]="'/sistema'" [routerLinkActive]="'active'">Ingresar</a> &nbsp;
        <a *ngIf="rol===''" [routerLink]="'/register'" [routerLinkActive]="'active'">Registrarse</a> &nbsp;
        <a *ngIf="rol!==''" [routerLink]="'/sistema'" [routerLinkActive]="'active'">Sistema</a> &nbsp;
        <button *ngIf="rol!==''" class="btn btn-gradient-primary" id="botonhover" data-bs-toggle="modal" data-bs-target="#logoutModal"
        (click)="logout()" style="color: white;">
        Salir
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" style="margin: 6px;"></i>
        </button>
    </nav>
</header>