<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a *ngIf="empleado" class="sidebar-brand d-flex align-items-center justify-content-center" style="flex-direction: column; height: 20vh;">
            <div class="sidebar-brand-text mx-3">Bienvenid@ <br><p style="font-size: .75rem; color: rgb(163, 161, 161); margin: 0;">Empleado</p></div>
            <br>
            <div class="sidebar-brand-icon" style="display: flex; align-items: center;">
                <i class="fa fa-solid fa-user"></i>
                <div class="sidebar-brand-text mx-3"><p style="font-size: .75rem; color: rgb(163, 161, 161); margin: 0;">{{empleado.nombre}} {{empleado.apellido}}</p></div>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" (click)=activarComponente(0)>
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCli"
                aria-expanded="true" aria-controls="collapseCli">
                <i class="fas fa-fw fa-folder"></i>
                <span>Clientes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i
                        class="fa fa-fw fa-chevron-down"></i>
                </span>
            </a>

            <div id="collapseCli" class="collapse" aria-labelledby="headingCli" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <input #cli id="cli" type="hidden" value="cliente">
                    <a class="collapse-item" (click)=activarComponente(1) (click)="getInputValue(cli.value)">Agregar
                    </a>
                    <a class="collapse-item" (click)=activarComponente(2) (click)="getInputValue(cli.value)">Listado</a>
                    <a class="collapse-item" (click)=activarComponente(3) (click)="getInputValue(cli.value)">Actualizar
                    </a>
                    <a class="collapse-item" (click)=activarComponente(4)
                        (click)="getInputValue(cli.value)">Desactivados
                    </a>

                </div>
            </div>
        </li>

        <!-- Nav Item - Collapse Menu -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCuentas"
                aria-expanded="true" aria-controls="collapseCuentas">
                <i class="fas fa-fw fa-folder"></i>
                <span>Facturas </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                <i class="fa fa-chevron-down"></i>
            </a>
            <div id="collapseCuentas" class="collapse" aria-labelledby="headingCuentas"
                data-bs-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <input #factura type="hidden" id="factura" value="factura">
                    <a class="collapse-item" (click)=activarComponente(1) (click)="getInputValue(factura.value)">
                        Agregar </a>
                    <a class="collapse-item" (click)=activarComponente(2)
                        (click)="getInputValue(factura.value)">Listado</a>
                    <a class="collapse-item" (click)=activarComponente(3)
                        (click)="getInputValue(factura.value)">Actualizar</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div *ngIf="option == 0">

                    <div class="container">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div class="informacion">
                                        <div *ngIf="empleado">
                                            <h3>Su información: </h3>
                                            <div>
                                                <div>
                                                    <p>Nombre:</p>
                                                    <p>Apellido:</p>
                                                    <p>Identificacion:</p>
                                                    <p>Usuario:</p>
                                                    <p>Correo:</p>
                                                </div>
                                                <div>
                                                    <p>{{empleado.nombre}}</p>
                                                    <p>{{empleado.apellido}}</p>
                                                    <p>{{empleado.identificacion}}</p>
                                                    <p>{{empleado.usuario.nickname}}</p>
                                                    <p>{{empleado.usuario.email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf="option == 1">
                    <app-ecrear [objR]="objR"></app-ecrear>
                </div>
                <div *ngIf="option == 2">
                    <app-eleer [objR]="objR"></app-eleer>
                </div>
                <div *ngIf="option == 3">
                    <app-eactualizar [objR]="objR"></app-eactualizar>
                </div>
                <div *ngIf="option == 4">
                    <app-edesactivar [objR]="objR"></app-edesactivar>
                </div>


            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->