<div id="wrapper">
    <div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion aside-style" id="accordionSidebar">
        <a style="flex-direction: column; height: 20vh;">
            <div class="sidebar-brand-text mx-3">Bienvenid@ <br><p style="font-size: .75rem; color: rgb(163, 161, 161); margin: 0;">Empleado</p></div>
            <br>
            <div class="sidebar-brand-icon" style="display: flex; align-items: center;">
                <i class="fa fa-solid fa-user"></i>
                <div class="sidebar-brand-text mx-3"><p style="font-size: .75rem; color: rgb(163, 161, 161); margin: 0;" *ngIf="empleado">{{empleado.nombre}} {{empleado.apellido}}</p></div>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <div class="accordion-item accordion-style">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div><i class="fas fa-fw fa-folder"></i><span>Inicio </span></div>
                    <div><i class="fa fa-chevron-down"></i></div>
                </div>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionSidebar">
                <div>
                    <a class="nav-link" (click)=activarComponente(0)><span>Información</span></a>
                    <a class="nav-link" (click)=activarComponente(5)><span>Resumen</span></a>
                </div>
            </div>
        </div>
        <hr class="sidebar-divider my-0">

        <div class="accordion-item accordion-style">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div><i class="fas fa-fw fa-folder"></i><span>Clientes </span></div>
                    <div><i class="fa fa-chevron-down"></i></div>
                </div>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
              <div>
                <input #cli type="hidden" id="cli" value="cliente">
                <a class="collapse-item" (click)=activarComponente(1) (click)="getInputValue(cli.value)">Agregar</a>
                <a class="collapse-item" (click)=activarComponente(2) (click)="getInputValue(cli.value)">Listado</a>
                <a class="collapse-item" (click)=activarComponente(3) (click)="getInputValue(cli.value)">Actualizar</a>
                <a class="collapse-item" (click)=activarComponente(4) (click)="getInputValue(cli.value)">Desactivados</a>
              </div>            
          </div>
        </div>
        <hr class="sidebar-divider my-0">

        <div class="accordion-item accordion-style">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div><i class="fas fa-fw fa-folder"></i><span>Facturas </span></div>
                    <div><i class="fa fa-chevron-down"></i></div>
                </div>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSidebar">
              <div>
                <input #factura type="hidden" id="factura" value="factura">
                <a class="collapse-item" (click)=activarComponente(1) (click)="getInputValue(factura.value)">Agregar </a>
                <a class="collapse-item" (click)=activarComponente(2) (click)="getInputValue(factura.value)">Listado</a>
                <a class="collapse-item" (click)=activarComponente(3) (click)="getInputValue(factura.value)">Borradores</a>
            </div>
          </div>
        </div>
    </div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div *ngIf="option == 0">

                    <div class="container">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div class="informacion">
                                        <div *ngIf="empleado">
                                            <h3>Su información: </h3>
                                            <div>
                                                <div>
                                                    <p>Nombre:</p>
                                                    <p>Apellido:</p>
                                                    <p>Identificacion:</p>
                                                    <p>Usuario:</p>
                                                    <p>Correo:</p>
                                                </div>
                                                <div>
                                                    <p>{{empleado.nombre}}</p>
                                                    <p>{{empleado.apellido}}</p>
                                                    <p>{{empleado.identificacion}}</p>
                                                    <p>{{empleado.usuario.nickname}}</p>
                                                    <p>{{empleado.usuario.email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="empleado">
                                            <h3>Información de la empresa: </h3>
                                            <div>
                                                <div>
                                                    <p>Nombre:</p>
                                                    <p>Dirección:</p>
                                                    <p>Pais:</p>
                                                    <p>Ciudad:</p>
                                                    <p>Provincia:</p>
                                                </div>
                                                <div>
                                                    <p>{{empleado.empresa_nombre}}</p>
                                                    <p>{{empleado.empresa_dir}}</p>
                                                    <p>{{empleado.empresa_pais}}</p>
                                                    <p>{{empleado.empresa_provincia}}</p>
                                                    <p>{{empleado.empresa_ciudad}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf="option == 1">
                    <app-ecrear [objR]="objR"></app-ecrear>
                </div>
                <div *ngIf="option == 2">
                    <app-eleer [objR]="objR"></app-eleer>
                </div>
                <div *ngIf="option == 3">
                    <app-eactualizar [objR]="objR"></app-eactualizar>
                </div>
                <div *ngIf="option == 4">
                    <app-edesactivar [objR]="objR"></app-edesactivar>
                </div>
                <div *ngIf="option == 5">

                    <div class="container">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div *ngIf="resumen" class="cards-resumen">
                                       <div>
                                           <img src="../../../assets/imgs/factura-espera.svg" alt="">
                                           <p>{{resumen.facturas_espera}}</p>
                                           <h3>Facturas por aceptar</h3>
                                       </div>
                                       <div>
                                            <img src="../../../assets/imgs/factura-lista.svg" alt="">
                                            <p>{{resumen.facturas_listo}}</p>
                                            <h3>Facturas aceptadas</h3>
                                        </div>
                                        <div>
                                            <img src="../../../assets/imgs/producto.svg" alt="">
                                            <p>{{resumen.productos}}</p>
                                            <h3>Productos registrados</h3>
                                        </div>
                                        <div>
                                            <img src="../../../assets/imgs/cliente.svg" alt="">
                                            <p>{{resumen.clientes}}</p>
                                            <h3>Clientes registrados</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->