<div class="content-req">
    <div class="container requisitos">
        <h2>Requisitos</h2>
        <p>Requisitos para obtener facturación electrónica, todos sus documentos deben estar claros y vigentes</p>
        <div>
            <div>
                <img src="../../../../assets/imgs/ruc.webp" alt="">
                <h4>RUC activo y actualizado</h4>
                <p>Documento PDF del RUC Actualizado y vigente. Puede descargarlo desde el portal SRI en línea</p>
            </div>
            <div>
                <img src="../../../../assets/imgs/autorizacion.png" alt="">
                <h4>Autorización del SRI</h4>
                <p>
                    Certificado de emisión de comprobantes electrónicos en ambiente de pruebas y producción.
                    <br>
                    Certificado de establecimientos en PDF
                </p>
            </div>
            <div>
                <img src="../../../../assets/imgs/firma.webp" alt="">
                <h4>Firma electrónica</h4>
                <p>
                    Firma electrónica para persona natural con RUC o firma jurídica en el caso de compañías
                    <br>
                    La firma debe ser en archivo formato .pfx o .p12
                </p>
            </div>
            <div>
                <img src="../../../../assets/imgs/cuentabancaria.webp" alt="">
                <h4>Cuenta bancaria registrada</h4>
                <p>Tener una cuenta bancaria registrada en el SRI</p>
            </div>
        </div>
    </div>
</div>