<header>
    <div style="display: flex; align-items: center;">
        <img src="../../../assets/imgs/invoice-paper-svgrepo-com (1).svg" alt="">
        <h1>Wamyf Facturación</h1>
    </div>
    <nav>
      <a [routerLink]="'/home'" [routerLinkActive]="'active'">Inicio</a> &nbsp;
        <a *ngIf="rol===''" [routerLink]="'/sistema'" [routerLinkActive]="'active'">Ingresar</a> &nbsp;
        <a *ngIf="rol===''" [routerLink]="'/register'" [routerLinkActive]="'active'">Registrarse</a> &nbsp;
        <a *ngIf="rol!==''" [routerLink]="'/sistema'" [routerLinkActive]="'active'">Sistema</a> &nbsp;
    </nav>
</header>