<body class="bg-gradient-primary">
    <div class="container">
        <!-- Actualizar Empleado -->
        <div *ngIf="objR=='empleado'">
            <h1 class="h4 text-gray-900 mb-4">Empleados</h1>

            <table  *ngIf="!updateState" class="tabla">
                <thead>
                    <tr>
                        <th style="width: 22%">Identificación</th>
                        <th style="width: 22%">Nombre</th>
                        <th style="width: 22%">Apellido</th>
                        <th style="width: 22%">Correo</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado1 of empleados">
                        <td>{{empleado1._id}}</td>
                        <td>{{empleado1.nombre}} </td>
                        <td>{{empleado1.apellido}}</td>
                        <td>{{empleado1.usuario.email}}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary" (click)="editar(empleado1)">
                                Editar
                            </a>
                            <a class="btn btn-danger" (click)="desactivar(empleado1._id)">
                                Desactivar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div  *ngIf="updateState" class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="contenedorForm">
                            <div>
                                <button (click)="actualizarState()" type="button" class="btn btn-secondary">← Regresar</button>

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}}</h1>
                                </div>

                                <div *ngIf="error!==''"
                                    style="background-color: rgb(241, 105, 105); display: flex; align-items: center;">
                                    <p
                                        style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                        Error: {{error}}</p>
                                </div>
                                <div *ngIf="success!==''"
                                    style="background-color: rgb(110, 241, 105); display: flex; align-items: center;">
                                    <p
                                        style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                        Muy bien: {{success}}</p>
                                </div>


                                <form class="user" #formEmpleado="ngForm" (ngSubmit)="onSubmit(formEmpleado)" class="form">
                                    <input type="text" name="id" #id="ngModel" [(ngModel)]="empleado._id" required
                                        class="inputForm input100"
                                        readonly />
 
                                    <input type="text" name="nombre" #nombre="ngModel"
                                        [(ngModel)]="empleado.nombre" required pattern="[a-zA-Z]+"
                                        class="inputForm input50" placeholder="Nombres" />
                                    <p *ngIf="nombre.touched && !nombre.valid">
                                        * Nombre es obligatorio
                                    </p>
                                    <input type="text" name="apellido" #apellido="ngModel"
                                        [(ngModel)]="empleado.apellido" required pattern="[a-zA-Z]+"
                                        class="inputForm input50" placeholder="Apellidos" />
                                    <p *ngIf="apellido.touched && !apellido.valid">
                                        * Apellido es obligatorio
                                    </p>

                                    <input type="text" name="email" #email="ngModel" [(ngModel)]="empleado.usuario.email"
                                        required class="inputForm input100" placeholder="Correo" />
                                    <p *ngIf="email.touched && !email.valid">
                                        * Correo es obligatorio
                                    </p>
 
                                    <span *ngIf="!formEmpleado.form.valid"> Recuerde revisar los campos </span>
                                    <br>
                                    <input type="submit" name="Guardar" value="Guardar"
                                        [disabled]="!formEmpleado.form.valid"
                                        class="btn btn-primary btn-user btn-block">
                                </form>
                            </div>
                            <div class="imagen">
                                <img class="imgForm" src="../../../assets/imgs/factura-electronica.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Actualizar banco -->
        <div *ngIf="objR=='producto'">
            <h1 class="h4 text-gray-900 mb-4">Productos</h1>

            <table *ngIf="!updateState" class="tabla">
                <thead>
                    <tr>
                        <th style="width: 25%">Id</th>
                        <th style="width: 25%">Descripcion</th>
                        <th style="width: 25%">Precio</th>
                        <th style="width: 10%"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto._id}}</td>
                        <td>{{producto.descripcion}} </td>
                        <td>{{producto.precio}} </td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary" (click)="editar(producto)"> Editar </a>
                            <a class="btn btn-danger" (click)="desactivar(producto._id)">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="updateState"  class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="contenedorForm">
                            <div>
                                <button (click)="actualizarState()" type="button" class="btn btn-secondary">← Regresar</button>

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}}</h1>
                                </div>

                                <div *ngIf="error!==''"
                                    style="background-color: rgb(241, 105, 105); display: flex; align-items: center;">
                                    <p
                                        style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                        Error: {{error}}</p>
                                </div>
                                <div *ngIf="success!==''"
                                    style="background-color: rgb(110, 241, 105); display: flex; align-items: center;">
                                    <p
                                        style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                        Muy bien: {{success}}</p>
                                </div>
                                <form class="user" #formBanco="ngForm" (ngSubmit)="onSubmit(formBanco)" class="form">
                                    <textarea name="descripcion" #descripcion="ngModel"
                                        [(ngModel)]="producto.descripcion" required
                                        class="inputForm input100" placeholder="Descripcion"></textarea>
                                    <span *ngIf="descripcion.touched && !descripcion.valid">
                                        * La descripcion es obligatoria
                                    </span>
                                    <input type="number" name="precio" #precio="ngModel"
                                        [(ngModel)]="producto.precio" required step="0.01"
                                        class="inputForm input100" placeholder="Precio" />
                                    <span *ngIf="precio.touched && !precio.valid">
                                        * El precio es obligatorio
                                    </span>

                                    <span *ngIf="!formBanco.form.valid"> Recuerde revisar los campos </span>
                                    <br>
                                    <input type="submit" name="Guardar" value="Guardar"
                                        [disabled]="!formBanco.form.valid" class="btn btn-primary btn-user btn-block">
                                </form>
                            </div>
                            <div class="imagen">
                                <img class="imgForm" src="../../../assets/imgs/factura-electronica.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>