@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
*:not(i) {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive, 'Roboto' !important;
}

body {
    background: radial-gradient(circle at top left,transparent 9%, #fafafa 10% ,#fafafa 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #fafafa 10% ,#fafafa 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #fafafa 10% ,#fafafa 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #fafafa 10% ,#fafafa 15% , transparent 16%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(0deg, transparent 44%, #fafafa 45%, #fafafa 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #fafafa 45%, #fafafa 55%, transparent 56%);
    background-size: 2em 2em;
    background-color: #ffffff;
    opacity: 1;
}

.bg-register-image {
    background: url("https://cherry-brightspot.s3.amazonaws.com/media/2010/04/28/credito-tarjeta-pago.jpg");
    background-position: center;
    background-size: cover;
}

h2 {
    font-size: 2rem !important;
    text-align: center;
}

.contenedorForm {
    display: flex;
    background-color: #2c2c6b;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.contenedorForm > div:first-child {
    flex-basis: 60%;
    width: 60%;
}

.contenedorForm > div:last-child {
    flex-basis: 40%;
    width: 40%;
}

.contenedorForm > .imagen {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

.contenedorForm > .imagen img {
    position: sticky;
    top: 20px;
}

.form {
    background-color: #2c2c6b;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    /* width: 60%; */
}

.form .inputForm::placeholder {
    color: white;
}

.form .inputForm {
    background-color: #525295;
    display: inline-block;
    color: white;
    border: none;
    height: 2rem;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: 10px 5px;
    transition: all 0.25s ease-in;
}

.form .inputForm:hover {
    border-bottom: 1px solid white;
}

.form .input100 {
    width: calc(100% - 5px);
}

.form .input50 {
    width: calc(50% - 10px);
}

.form > div {
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
}

.form > div input[type="checkbox"]{
    height: 1rem;
    width: 1rem;
    margin: 0;
    padding: 0;
}

.form .submit {
    width: calc(100% - 5px);
    background-color: #00add9;
    padding: 5px;
    margin: 10px 5px;
    border: none;
}

.form .submit-second {
    background-color: #50dcff;
}

.form p {
    display: block;
}

.imgForm {
    height: auto;
    width: 80%;
}

.pasos {
    color: #2c2c6a;
}

.pasos-margin {
    margin-top: 50px;
    margin-bottom: 75px;
}

.pasos > p {
    font-size: .8rem;
    font-weight: lighter;
    text-align: center;
}

.pasos > div{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.pasos > div::before  {
    content: "";
    width: calc(100% - 10px);
    margin: 0 auto;
    top: 15px;
    height: 2px;
    position: absolute;
    border: 2.5px dashed gray;
}

.pasos > div > div, .pasos > .boton > div {
    width: 200px;
}

.pasos .numero{
    width: 2.6rem;
    height: 2.6rem;
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pasos .numero h4 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.invoice {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: white;
}
.tabla {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    color: white;
}

.invoice thead, .tabla thead {
    background-color: #36367c;
}
.tabla thead {
    height: 3rem;
    font-weight: bold;
}

.invoice tbody, .tabla tbody {
    background-color: #525295;
}

.tabla tbody tr {
    height: 2.5rem;
}

.invoice tfoot {
    background-color: #36367c;
}

.invoice tbody tr:hover, .tabla tbody tr:hover {
    background-color: #36367c;
}

.informacion {
    color: #2c2c6b;
    display: flex;
    column-gap: 100px;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.informacion h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.informacion > div > div > div {
    font-size: 1rem;
    color: gray;
}

.informacion > div > div {
    display: flex;
    gap: 10px;
}

.informacion > div > div > div:first-child {
    font-weight: bold;
    color: #2c2c6b;
    text-align: end;
}

@media (max-width: 700px) {
    
    .informacion h3{
        font-size: 1rem;
        font-weight: bold;
    }

    .informacion > div > div > div {
        font-size: 0.8rem;
        color: gray;
    }
}

#botonhover{
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.3rem;
}

#botonhover:hover{
    background-color: #00add9;
}

.inputinfo {
    position: relative;
    display: inherit;
}

.inputinfo > div {
    position: absolute;
    right: -30px;
}

.info {
    position: relative;
    width: 25px;
    margin-top: 12px;
  }
  
  .info:hover::after {
    visibility: visible;
  }
  
  .info img {
    width: 25px;
    height: 25px;
  }
  
  .info::after {
    content: attr(id);
    position: absolute;
    background-color: #3a3a86;
    color: white;
    line-height: 0.9rem;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    top: 0.5rem;
    left: 35px;
    z-index: 1000;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .pdfsvg {
    width: 30px;
    height: 30px;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(328deg) brightness(119%) contrast(119%);
  }

  .aside-style{
    min-width: 200px !important;
  }

.aside-style > a {
    text-align: center;
    color: white !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* .accordion-style {
} */

.accordion-style button {
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent; 
    color: white; 
    font-size: 1rem !important;
    border: none; 
    text-align: left !important;
    padding: 5px 0;
}

.accordion-style > div > div{
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.accordion-style > div > div a {
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
}

.accordion-style > div > div a:hover {
    color: gray;
    background-color: white;
}

.cards-resumen {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.cards-resumen > div {
    height: 150px;
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.cards-resumen > div:nth-child(1){background-color: #18a2b8;}
.cards-resumen > div:nth-child(2){background-color: #6f42c1;}
.cards-resumen > div:nth-child(3){background-color: #1cb09a;}
.cards-resumen > div:nth-child(4){background-color: #dc3645;}
.cards-resumen > div:nth-child(5){background-color: #f20872;}
.cards-resumen > div:nth-child(6){background-color: #f27439;}

.cards-resumen > div p {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    color: white;
}

.cards-resumen > div h3 {
    font-size: 1rem;
    margin: 0;
    color: white;
}

.cards-resumen > div img {
    width: 50px;
    height: 50px;
}