<body class="bg-gradient-primary">
    <div class="container">

        <!-- Leer Empleado -->
        <div *ngIf="objR=='empleado'">
            <h1 class="h4 text-gray-900 mb-4">Empleados</h1>

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 25%">Identificación</th>
                        <th style="width: 25%">Nombre</th>
                        <th style="width: 25%">Apellido</th>
                        <th style="width: 25%">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{empleado._id}}</td>
                        <td>{{empleado.nombre}} </td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.usuario.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Leer banco -->
        <div *ngIf="objR=='producto'">
            <h1 class="h4 text-gray-900 mb-4">Productos</h1>

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 33%">Id</th>
                        <th style="width: 33%">Nombre</th>
                        <th style="width: 33%">Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td> {{producto._id}}</td>
                        <td>{{producto.descripcion}} </td>
                        <td>{{producto.precio}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>